button {
  font-family: monospace;
}

#app-container {
  font-family: monospace;
  background-color: lightgrey;
  padding: 2px;
  border: solid 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#app-header {
  font-size: 1rem; 
  padding: 2px;
  border-style: groove;
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  font-size: 0.5rem;
  width: 18vw;
}

.row {
  border: solid 1px; 
  margin: 0.2vh;   
} 

.project-folder {
  background-color: lightblue;
  margin-bottom: 8px; 
}

.project-folder > .folder-header {
  text-align: center;  
} 

.project-item {
  background-color: aliceblue;
  margin-bottom: 4px;      
}

.project-item-property {
  background-color: aliceblue;
  margin-bottom: 2px; 
}


button {
  margin: 1px;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}
.open-close-button {
  width: 90vw; 
  background: none;
  text-align: left;
}

.project-folder > .folder-header > .open-close-button {
    border: 0px;
}

.project-item > .folder-header > .open-close-button {
  width: 70vw; 
}

.checklist {
  background: none;
  position: relative;
  margin-left: 4vw;
}